pydra.egg-info
build
dist

__pycache__
*.pyc
.python-version

.ipynb_checkpoints
.vscode/

.coverage*
coverage.xml

.*.swp
*~
.idea
*.venv

.DS_Store
.ipynb_checkpoints

.tox

# This can be generated in-tree. We never want to commit it.
pydra/utils/_version.py
