dist: xenial
sudo: true

language: python
python:
  - 3.6
  - 3.7

install:
  - pip install --upgrade pip setuptools wheel
  - pip install ".[all]"

script:
  - py.test -vs -n auto --cov pydra --cov-config .coveragerc --cov-report xml:cov.xml --doctest-modules pydra
