[build-system]
requires = ["flit_scm"]
build-backend = "flit_scm:buildapi"

[project]
name = "pydra"
description = "Pydra dataflow engine"
readme = "README.rst"
requires-python = ">=3.8"
dependencies = [
    "attrs >=19.1.0",
    "cloudpickle >=2.0.0",
    "etelemetry >=0.2.2",
    "filelock >=3.0.0",
    "fileformats >=0.8",
    "importlib_resources >=5.7; python_version < '3.11'",
    "platformdirs >=2",
    "typing_extensions >=4.6.3; python_version < '3.10'",
    "typing_utils >=0.1.0; python_version < '3.10'",
]
license = {file = "LICENSE"}
authors = [
    {name = "Nipype developers", email = "neuroimaging@python.org"},
]
maintainers = [
    {name = "Nipype developers", email = "neuroimaging@python.org"},
]
keywords = [
    "brainweb",
    "dataflow",
    "neuroimaging",
    "pydra",
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Scientific/Engineering",
]
dynamic = ["version"]

[project.optional-dependencies]
psij = [
    "psij-python",
]
dask = [
    "dask",
    "distributed",
]
dev = [
    "black",
    "pre-commit",
    "pydra[test]",
]
doc = [
    "packaging",
    "sphinx ==6.2.1",
    "sphinx_rtd_theme",
    "sphinxcontrib-apidoc ~=0.3.0",
    "sphinxcontrib-versioning",
]
test = [
    "pytest >=6.2.5",
    "pytest-cov",
    "pytest-env",
    "pytest-xdist <2.0",
    "pytest-rerunfailures",
    "pytest-timeout",
    "codecov",
    "numpy",
    "pyld",
    "psutil",
    "python-dateutil",
    "tornado",
    "boutiques",
    "pympler",
]
# Aliases
tests = ["pydra[test]"]
docs = ["pydra[doc]"]
all = ["pydra[doc,dev]"]

[project.urls]
documentation = "https://nipype.github.io/pydra/"
homepage = "https://nipype.github.io/pydra/"
repository = "https://github.com/nipype/pydra.git"

[tool.flit.module]
name = "pydra"

[tool.flit.sdist]
exclude = [".gitignore"]

[tool.setuptools_scm]
write_to = "pydra/_version.py"

[tool.black]
target-version = ['py37', 'py38']
exclude = "pydra/_version.py"

[tool.codespell]
ignore-words-list = "nd,afile"
