attrs >= 19.1.0
cloudpickle
filelock
git+https://github.com/AleksandarPetrov/napoleon.git@0dc3f28a309ad602be5f44a9049785a1026451b3#egg=sphinxcontrib-napoleon
git+https://github.com/djarecka/sphinxcontrib-versioning.git@master#egg=sphinxcontrib-versioning
packaging
sphinx>=2.1.2
sphinx_rtd_theme
sphinxcontrib-apidoc ~= 0.3.0
